<!doctype html>
<html lang="es">

<head>
    <meta charset="utf8">
    <title>Carreras</title>
    <!-- CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/estilos.css" rel="stylesheet">
    <!-- SRIPTS -->
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>

</head>

<body>
    <div class="container">
        <header id="cabecera">
            <div id="titulo">
                <div id="logo"><img src="/public/imgs/carreras_logo.png" /></div>
                <div id="textotitulo">Participantes inscritos</div>
            </div>
            <a class="btn btn-secondary" href="/participantes">Listar participantes</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/nuevo_participante">Nuevo Participante</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/nueva_categoria">Nueva categoría</a>&nbsp;&nbsp;&nbsp;

        </header>