<%- include('cabecera'); %>

  <h1>Formulario de alta de Categoría</h1>

  <form action="/categorias" method="POST">

    <div class="form-group">
      <label for="codigo">Código:</label>
      <input type="text" class="form-control" id="codigo" name="codigo">
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion">
    </div>

    <div class="form-group">
      <label for="minEdad">Edad mínima:</label>
      <input type="number" class="form-control" id="minEdad" name="minEdad">
    </div>

    <div class="form-group">
      <label for="maxEdad">Edad máxima:</label>
      <input type="number" class="form-control" id="maxEdad" name="maxEdad">
    </div>

    <hr>
    <input type="submit" value="Guardar" class="btn btn-primary">

  </form>

  <%- include('pie'); %>