@charset "utf-8";
/* @font-face, @import, etc. */

/* initialize */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px dotted blue;
}

:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-image: url(../img/O5GLLH0.jpg);
  background-attachment: fixed;
}

body {
  width: calc(100% - 20rem - 1px);
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(100%, 100%, 100%, 0.8);
}

header h1 {
  margin: 1.5em 0 0.5em 0;
  transform: rotate(5deg);
  -webkit-text-stroke: 2px red;
  color: transparent;
}

header h1:hover {
  transform: rotate(5deg) scale(1.1) translate(2em, 0);
}

/* NAVBAR from list */
nav ul {
  width: 100%;
  list-style-type: none;
}

nav ul#botonera1 li {
  margin: 0.5em 1.5em;
  display: inline-block;
}

nav ul#botonera1 li a {
  padding: 0.5em;
  display: block;
  border: 1px solid black;
  color: green;
  background-color: lightgray;
  border-radius: 0.5em;
  box-shadow: 0.3em 0.3em 0.2em black;
  text-align: center;
  font-weight: bold;
}

nav ul#botonera1 li a:active {
  color: lightgray;
  background-color: darkgreen;
  transform: translate(2px, 2px) scale(0.95, 0.95);

}

nav ul#botonera2 li {
  width: fit-content;
  margin: 0.5em 1.5em;
}

nav ul#botonera2 li a {
  padding: 0.5em;
  display: block;
  border: 1px solid black;
  color: green;
  background-color: lightgray;
  box-shadow: 0.3em 0.3em 0.2em black;
  text-align: center;
  font-weight: bold;
}

nav ul#botonera2 li a:hover {
  transform: skewX(-15deg) scale(1.1);
}

nav ul#botonera2 li a:active {
  color: lightgray;
  background-color: darkgreen;
  transform: translate(2px, 2px) scale(0.95, 0.95);
}

/* MAIN */
main section > * {
  margin: 1rem;
}

main div#galeria {
  display: flex;
  justify-content: space-evenly;
}

main div#galeria img {
  width: 30%;
}

main div#galeria img:first-child:hover {
  transform: rotate(5deg);
}