* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

header {
  margin: 2em;
}

main {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 1em;
}

input {
  padding: 0.25em;
}

button {
  padding: 0.25em;
}

.center {
  text-align: center;
}