/// @group cards 
$border-style: 'solid';

/// @group cards
$border-width: 0.1rem;

/// @group cards
$border-radius: 1rem;

/// @group cards
$figure-width: 25%;

/// @group buttons
$button-border-radius: 0.4rem;