* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

nav {
  margin-bottom: 2rem;
  padding-block: 1rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-size: 1.5rem;
  list-style-type: none;
}
nav ul li {
  margin-left: 1em;
}
nav ul li:has(button) {
  margin-left: auto;
  margin-right: 1em;
}

header#header {
  width: 50%;
  margin: auto;
  padding-block: 1rem 2rem;
  margin-bottom: 2rem;
}
header#header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
aside {
  width: 50%;
  margin-bottom: 2rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
}
main section:last-child {
  margin-bottom: 0;
}
main section > * {
  margin-bottom: 1em;
}
main section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section article ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
}
main section article ul li.card {
  margin-inline-end: 1em;
}
main section article#languages ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#education table,
main section#education table th,
main section#education table td {
  border: 1px solid black;
  border-collapse: collapse;
}
main section#education table th,
main section#education table td {
  padding: 1rem;
}

aside {
  padding: 2rem;
}
aside > * {
  margin-bottom: 1em;
}
aside ol li {
  margin-left: 1em;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  background-color: black;
}
footer > * {
  margin-bottom: 1em;
}
