@charset "utf-8";

/* Común a todas las páginas de un site */

*{ 
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;

    /*border: 1px dotted green;*/
}

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url('../img/fondo.jpg');
}

body{
    width: 80%;
    margin: 0 auto;
    background-color: bisque;
    /***/
    border-radius: 0 0 2em 2em; /* también en footer */
    box-shadow: 4px 4px 10px lightgray;
    margin-bottom: 4em;
    opacity: 0.8; /* mejor seria poner rgba(  , , ,0.8) a todos
                 los containers, peerooo mucho trabajo **/
}

/** CABECERA **/

header>img{
    display: block;
    width: 100%;
    height: 12rem;
}

/* NAV y MAIN a 2 columnas */
div#tabular{
    font-size: 0; /* Para evitar espacios fantasma */
    background-color: burlywood; /* Color del container más Corto */
}

div#tabular nav{
    display: inline-block;
    font-size: 1rem; /* Re-establezco tamaño*/
    vertical-align: top; /* Necesario en el container más Corto */
    width: 20%;
    background-color: burlywood;

}

div#tabular main{
    display: inline-block;
    font-size: 0.9rem; /* = 16*0.9= 14px */
    width: 80%;
    background-color: bisque;
    padding: 2em; /* = 2*14px = 28px */
}

/* FOOTER */
 footer{
     background-color: chocolate;
     padding: 1em;
     border-radius: 0 0 2em 2em;
 }

 /* BOTONERA */

 nav ul{
     list-style: none;
 }

 nav ul li a{
     display: block;
     width: 80%;
     margin: 0.5em auto;
     padding: 0.5em;
     text-align: center;
     background-color: chocolate;
     color: bisque;
     font-weight: bold;
     border-radius: 0.4em;
     transition: all 0.5s ease;
 }

 nav ul li a:hover{
     color: chocolate;
     background-color: bisque;
 }