<form method="post" action"/upload/image" enctype="multipart/form-data">
  <label>Seleccione las fotos:</label>
  <input type="file" name="image" multiple>
  <br>
  <input type="submit" value="subir">
</form>