main {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: darkred;
}

h1,
h2, 
main > p {
  margin: 1em;
  text-align: center;
}

p {
  margin-top: 1em;
}

hr {
  width: 100%;
}

form .required {
  font-weight: bold;
  color: darkred;
}

input[type="submit"], 
input[type="reset"] {
  padding: 0.2em;
}