html(lang="es")
  head
    include includes/head-meta.pug
    title Café.net Club

    // CSS
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/historia.css")

  body
    main
      p
        include includes/image-map.html
      p(class="especial") CNC es un sitio creado para aqullos que saben disfrutar de un buen café