#cabecera
{
    margin-bottom: 30px;
}
#titulo
{
    float:left;
    width:100%;
    margin-bottom: 20px;
}
#logo
{
    float: left;
    width: 20%;
}
#textotitulo
{
    float: left;
    font-size:3em;
    width: 70%;
}
#nuevoOK
{
    display: none;
}
#nuevoError
{
    display: none;
}